// main palette

$black: #2b2b2b;
$white: #ffffff;
$main-color: #6690C6;
$secondary-color: #B85C73;
$color-keppel: #2AAB97;
$color-indian-red: #DF6565;
$success: rgb(29, 192, 29);
$background-main: rgb(42 47 171 / 70%);

$color-dark: #6669ad;
$color-dark-icon: #cfbd87;
$orange:darkorange;
$btn-color: bisque;
$color-light: steelblue;
$brown-color: burlywood;
$dark-blue: rgb(23, 23, 88);