@use '../mixins';

.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.title {
  font-size: 2.8rem;
  @include mixins.media-down(710px) {
    font-size: 4vw;
  }
}

.mb-mt {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.mb {
  margin-bottom: 3rem;
}