@use '../vars';
@use '../mixins';

.password-item {
  position: relative;
  // .password-item__label

  &__label {
    margin-right: 2rem;
  }

  // .password-item__title

  &__title {
    color: vars.$color-keppel;
    @include mixins.bp-desk(mobile) {
      font-size: 1.8rem;
      hyphens: manual;
    }
  }
  &__characters-title {
    margin-bottom: 3.4rem;
  }

  &__custom-checkbox--specials {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 2px solid vars.$secondary-color;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 7.5px;
      height: 7.5px;
      background-color: vars.$secondary-color;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s ease-in transform;
    }
  }

  &__default-checkbox {
    transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__default-checkbox--default:checked + .custom-checkbox--default::before {
    transform: translate(-50%, -50%) scale(1);
  }
  &__default-checkbox--cyrilic-digits:checked
    + .custom-checkbox--in-cyrilic::before {
    transform: translate(-50%, -50%) scale(1);
  }
  &__default-checkbox--specials:checked + .custom-checkbox--specials::before {
    transform: translate(-50%, -50%) scale(1);
  }
  &__list {
    display: flex;
    gap: 2rem;
    @include mixins.bp-desk(mobile) {
      flex-direction: column;
    }
  }
  &__list-item {
    cursor: pointer;
    background-color: vars.$color-indian-red;
    padding: 10px 12px;
    color: vars.$white;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.3rem;
    transition: 0.3s ease-in background-color, 0.3s ease-in color,
      0.3s ease-in border;
    &:hover {
      background-color: #2b2b2b;
      border: 1px solid vars.$white;
      color: vars.$color-indian-red;
    }
    &--active {
      background-color: #2b2b2b;
      border: 1px solid vars.$white;
      font-weight: 600;
      color: vars.$color-indian-red;
    }
  }
  &__specials {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }
  &__custom-checkbox {
    flex-shrink: 0;
  }
}
