@use '../vars';
@use '../mixins';

.password-generator {
  min-height: 100vh;
  position: relative;
  padding: 15px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.bp-desk(mobile) {
    padding: 0;
  }

  // .password-generator__inner

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 90px 20px 30px;
    border-radius: 0 10px 10px 0;
    background-color: vars.$black;
    @include mixins.media-down(500px) {
      border-radius: 0;
      width: 100%;
      height: 100vh;
      padding: 0;
    }
  }
  &__password {
    color: vars.$black;
    background-color: vars.$new-dark-color;
    opacity: 0.3;
    font-weight: 600;
    height: 30px;
    padding: 5px 8px;
    width: 100%;
    &--active {
      opacity: 1;
    }
  }
  &__passwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px;
    position: absolute;
    transform: translateX(0);
    left: 0;
    top: 0;
    border-radius: 10px 0 0 10px;
    width: 250px;
    height: 100%;
    font-size: 12px;
    background-color: vars.$black;
    border-right: 2px solid vars.$white;
    z-index: -100;
    transition: 0.7s ease-in transform, 0.5s ease-in z-index;
    @include mixins.media-down(500px) {
      border-radius: 0;
    }
    @include mixins.bp-desk(tablet) {
      justify-content: space-between;
      background-color: vars.$dark-color;
      border-radius: 0 10px 10px 0;
      opacity: 0;
      transition: opacity 0.5s ease-in;
      transform: translateY(0);
      width: 100%;
      border-right: 2px solid vars.$white;
      border-right: none;
      z-index: -10;
    }
    @include mixins.bp-desk(mobile) {
      height: 100%;
    }

    &--active {
      transform: translateX(-250px);
      @include mixins.bp-desk(tablet) {
        transform: translateX(0);
        opacity: 1;
        z-index: 100;
      }
    }
  }

  &__passwords-title {
    text-transform: capitalize;
    display: none;
    color: vars.$white;
    @include mixins.bp-desk(tablet) {
      display: block;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    @include mixins.bp-desk(mobile) {
      margin-bottom: 30px;
      margin-top: 40px;
    }
  }

  &__close-btn {
    display: none;
    @include mixins.bp-desk(tablet) {
      display: block;
      position: absolute;
      top: 15px;
      right: 15px;
      width: 25px;
      height: 25px;
      background: none;
      border: none;
      cursor: pointer;
      span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: vars.$white;
        &:first-child {
          transform: translateY(-50%) rotate(45deg);
        }
        &:last-child {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  // .password-generator__title

  &__title {
    color: vars.$white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    @include mixins.bp-desk(mobile) {
      font-size: 2rem;
    }
    @include mixins.media-down(350px) {
      font-size: 1.45rem;
    }
  }
  &__subtitle {
    color: vars.$white;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  &__password-item {
    position: relative;
    border: 1px solid vars.$black;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    opacity: 1;
    // &--active {
    //   opacity: 1;
    // }
    &:last-child {
      margin-bottom: 0;
    }

    & + & {
      margin-top: 20px;
    }
  }

  &__copy-popup {
    color: vars.$white;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    right: 0;
    top: -20px;
    padding: 5px 10px;
    background-color: vars.$color-keppel;
    border-radius: 2px;
    opacity: 0;
    transform: scale(0);
    &--active {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__password-items {
    @include mixins.bp-desk(mobile) {
      margin-bottom: 15%;
    }
  }
  &__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include mixins.bp-desk(mobile) {
      flex-direction: column;
    }
  }
  &__popup {
    opacity: 0;
    transform: scale(0);
    background-color: vars.$color-keppel;
    padding: 10px 12px;
    color: vars.$white;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: -50px;
    transition: 0.3s ease-in opacity, 0.3s ease-in transform;
    &--active {
      opacity: 1;
      transform: scale(1);
    }
  }
  &__copy-image {
    width: 20px;
    height: 20px;
  }
  &__copy {
    cursor: pointer;
    background-color: vars.$new-dark-blue-color;
    padding: 5px 15px;
    opacity: 1;
    transition: opacity .4s ease-in;
    animation: pulse-of-color 10s infinite;
    &:hover {
      opacity: 0.3;
    }
  }
  &__btn {
    @include mixins.bp-desk(mobile) {
      margin-bottom: 2rem;
    }
  }
  &__lang-tool {

    display: flex;

    color: vars.$white;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;

  }
  &__pass-item {
    color: vars.$white;
  }
}

@keyframes pulse-of-color {
  0% {
    background-color: vars.$new-dark-blue-color;
  }
  50% {
    background-color: vars.$color-keppel;
  }
  100% {
    background-color: vars.$new-dark-blue-color;
  }
}